<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>



</ion-header>


<ion-content padding class="cont">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 ">
        <form class="login100-form validate-form">
          <span class="login100-form-title p-b-49 log"> </span>

          <div class="login" *ngIf="view === 'login'">
            <!-- Login Container -->

            <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
              <span class="label-input100 lab">Email / Phone</span>
              <div id="ic">
                <ion-input class="input100" name="username" type="text" placeholder="Type your username" [(ngModel)]="user"></ion-input>

                <ion-icon ios="ios-person" md="md-person" class="ic"></ion-icon>
              </div>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Password is required">

              <span class="label-input100 lab">Password</span>
              <ion-input class="input100" name="pass" type="password" placeholder="Type your password" [(ngModel)]="password"></ion-input>
              <ion-icon class="ic" ios="ios-lock" md="md-lock"></ion-icon>
            </div>
            <br/>
            <!-- <div class="text-right p-t-8 p-b-31">
              <a href="#forgotPassword" style="color:#fff; font-family:arial;" (click)="forgetPassword()">
              Forgot password?
            </a>
            </div> -->

            <div class="container-login100-form-btn">

              <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <form (ngSubmit)="signIn()" novalidate>
                  <button class="login100-form-btn ">
                Log In
              </button>
                </form>
              </div>
            </div>
          </div>


          <div class="login" *ngIf="view === 'newPassword'">
            <!-- newPassword Container -->
<span class="label-input100 lab" style="color:rgb(0, 0, 0); font-family:roboto;">You are logging in for the first time. You need to change your password</span>

            <div class="wrap-input100 validate-input" data-validate="Password is required">

              <span class="label-input100 lab">Password</span>
              <ion-input class="input100" name="pass" type="password" placeholder="Type your password" [(ngModel)]="newPassword"></ion-input>
              <ion-icon class="ic" ios="ios-lock" md="md-lock"></ion-icon>
            </div>
            <br/>

            <div class="container-login100-form-btn">

              <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <form (ngSubmit)="setnewPassword()" novalidate>
                  <button class="login100-form-btn ">
                Set Password
              </button>
                </form>
              </div>
            </div>
          </div>

          <br/><br/><br/>
          <hr>


          <!-- <div class="forgotPassword" id="forgotPassword">

            <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
              <span class="label-input100 lab" style="color:rgb(0, 0, 0); font-family:roboto;">Please type your email to retrive your password</span>
              <div id="ic">
                <ion-input class="input100" name="email" type="text" placeholder="Type your Email"></ion-input>
                <ion-icon ios="ios-person" md="md-person" class="ic"></ion-icon>
              </div>
            </div>
          </div>

          <hr>

          <div class="newPassword">
            <div class="wrap-input100 validate-input" data-validate="Password is required">
              <span class="label-input100 lab">New Password</span>
              <ion-input class="input100" name="pass" type="password" placeholder="Type your new password"></ion-input>
              <ion-icon class="ic" ios="ios-lock" md="md-lock"></ion-icon>
            </div>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Password is required">
            <span class="label-input100 lab">Confirm Password</span>
            <ion-input class="input100" name="pass" type="password" placeholder="Confirm new password"></ion-input>
            <ion-icon class="ic" ios="ios-lock" md="md-lock"></ion-icon>
          </div> -->

        </form>
      </div>
    </div>
  </div>

</ion-content>
