page-settings {
    .nav {
        float: left;
    }
    .bg {
        background-image: url(../assets/imgs/bluebg.png);
        background-repeat: no-repeat;
        background-size: 100%;
        /* background-position: bottom; */
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    ion-range {
        height: 20px;
    }
    .head strong {
        font-size: 25px;
    }
    .head {
        margin-right: 40px;
        margin-top: 10px;
        font-size: 35px;
    }
    .bel {
        margin-right: 10px;
        margin-top: -30px;
        font-size: 35px;
        float: right;
        color: #fff;
    }
    .menu {
        float: left;
        margin-top: 5px;
        font-size: 35px;
        color: #fff;
    }
    .tg {
        margin: 0 auto;
        width: 90%;
        background: transparent;
        //box-shadow: 0 0 2px;
        border-bottom: 2px solid #fff;
    }
    .back {
        margin-top: 10px;
        width: 70px;
        font-size: 24px;
        color: white;
        float: left;
        box-shadow: none;
    }
    ion-toggle {
        border-bottom: none !important;
    }
    .save {
        margin: 0 auto;
        width: 90%;
        border-radius: 20px;
        border: 1px solid #fff;
    }
}