page-settings {
    .nav{
        float:left;
    }
    .bg{
        margin-top: -15px;
        //background: linear-gradient(to bottom left, #ed145c 75%, #800c32);
        background-image: url(../assets/imgs/bg-11.png); 
        background-repeat: no-repeat;
        background-size:140%;
        background-position:top;
        height:850px;
        float:left;
       //background: #577486 !important;
    }

   ion-range{
       height:20px;
    }
   .head strong{
    font-size: 25px;
    }
   .head{
    margin-right:40px;
    margin-top:10px;
    font-size:35px;
    }

  .bel{
    margin-right:10px;
    margin-top:-30px;
    font-size:35px;
    float:right;
    color:#fff;
    }
   .menu{
       float: left;
       margin-top:5px;
       font-size: 35px;
       color:#fff;
   }
  .tg{
      background: transparent;
      //box-shadow: 0 0 2px;
      border-bottom: 1px solid #577486;
    }
    .back{
        margin-top: 10px;
        width:70px;
        font-size: 24px;
        color:white;
        float:left;
        box-shadow: none;
    }
ion-toggle{
    border-bottom:none !important;
}
.save{
    font-weight: 700;
    width:50%;
    height: 40px;
    line-height: 36px;
    font-size: 16px;
    background: #005a61;
    color:rgb(255, 255, 255) !important;
    border-radius: 10px;
    border: 1px solid #fff;
    transition: all 0.218s;
    padding: 0;
    margin: 20px 0 20px 0;
    margin-left: 22%;
}

}
