<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ng-container *ngIf="buses.length > 1">
        <button menuClose ion-item *ngFor="let bus of buses; index as i;" (click)="selectBus(i)">
          Bus #{{bus.busId}}
        </button>
      </ng-container>
      <button menuClose ion-item detail-none (click)="openSettings()">
        <ion-icon name="settings"></ion-icon> Settigs
      </button>
      <button menuClose ion-item detail-none (click)="logout()">
        <ion-icon name="log-out"></ion-icon>  Logout
      </button>
      <button menuClose ion-item detail-none (click)="changePassword()">
        <ion-icon name="ios-finger-print"></ion-icon>  Change Password
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<page-home></page-home>

<ion-fab right bottom *ngIf="role === 'DRIVER'">
  <button ion-fab color="default"><ion-icon name="arrow-dropleft"></ion-icon></button>
  <ion-fab-list side="left">
    <button ion-fab *ngIf="!mockData.useMockData"><ion-icon name="ios-navigate-outline" (click)="mockDriver()"></ion-icon></button>
    <button ion-fab *ngIf="mockData.useMockData"><ion-icon name="ios-eye-off-outline" (click)="stopMock()"></ion-icon></button>
  </ion-fab-list>
</ion-fab>
