<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ng-container *ngIf="buses.length > 1">
        <button menuClose ion-item *ngFor="let bus of buses; index as i;" (click)="selectBus(i)">
          Bus #{{bus.busId}}
        </button>
      </ng-container>
      <button menuClose ion-item detail-none (click)="openSettings()">
        <ion-icon name="settings"></ion-icon> Settigs
      </button>
      <button menuClose ion-item detail-none (click)="logout()">
        <ion-icon name="log-out"></ion-icon>  Logout
      </button>
      <button menuClose ion-item detail-none (click)="changePassword()">
        <ion-icon name="ios-finger-print"></ion-icon>  Change Password
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<ion-header>
  <ion-navbar color="default">

    <button ion-button menuToggle color="light">
      <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-icon name="ios-notifications" color="color-3" class="bel" (click)="message.show = true;"></ion-icon>
    <ion-icon name="ios-refresh-circle-outline" color="color-3" class="bel" *ngIf="!isBusMoving" (click)="getBusses()"></ion-icon>
    <ion-icon name="ios-locate-outline" color="color-3" class="bel" *ngIf="isBusMoving" (click)="locateBus()"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content>
  <page-home (notification)="onNotification($event)" (isBusMoving)="onBusMoving($event)"></page-home>
</ion-content>

<ion-footer>
  <div class="alert1" *ngIf="message.show && message.text">
    <div class="tik" *ngIf="message.driver_name">{{message.driver_name}}<br/>
      <strong *ngIf="message.bus_number">Bus #{{message.bus_number}} - {{message.registration_number}}</strong><br/></div><br/>
    <button class="close" (click)="message.show = false;">&times;</button>
    <img [src]="message.driver_thumbnail_url || 'assets/imgs/user.png'" class="user-img" *ngIf="message.driver_name">
    <div class="tik"></div><br/>
    <div class="msg">{{message.short_message || message.text}}</div>
    <div class="min" color="color-3" *ngIf="message.expected_time"><strong>{{message.expected_time | date:'mm'}}</strong>
      <p>mins</p>
    </div>
    <div class="min" color="color-3" *ngIf="message.time"><strong>{{message.time | date:'shortTime'}}</strong>
    </div>
  </div>
</ion-footer>

<ion-fab right bottom *ngIf="role === 'DRIVER'">
  <button ion-fab color="default"><ion-icon name="arrow-dropleft"></ion-icon></button>
  <ion-fab-list side="left">
    <button ion-fab *ngIf="!mockData.useMockData"><ion-icon name="ios-navigate-outline" (click)="mockDriver()"></ion-icon></button>
    <button ion-fab *ngIf="mockData.useMockData"><ion-icon name="ios-eye-off-outline" (click)="stopMock()"></ion-icon></button>
  </ion-fab-list>
</ion-fab>
