// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-md-default .bar-button-default-md, .toolbar-md-default .bar-button-clear-md-default, .toolbar-md-default .bar-button-md-default{
  color: white !important;
}

$colors: (
  default: rgb(0, 255, 170)
  );

.bel{
  margin-right:10px;
  margin-top:10px;
  font-size:35px;
  float:right;
}
.map {
  margin: -5%;
  padding: 0;
  width: 110%;
  height: 130%;
  z-index: -1;
  position: absolute;
}
.user-img{
  margin-top: 0px;
  height:55px;
  float:left;
}
.alert1 strong{
  margin-top:-30px;
  float:right;
  font-size:30px;
  font-weight: bold;
  color:#FFC300;
  margin-right:40px;
}
.alert1 p{
  float:right;
  margin-top:-20px;
  font-size:20px;
  margin-right:-80px;
  color:rgb(255, 255, 255);
}
.alert1 {
  position:absolute;
  box-sizing: border-box;
  color: white;
  font-size: 1.5em;
  margin: 0 auto;
  padding:1em;
  z-index:1;
  background:#ed145c;
  width: 100%;
  /*margin-top: 115%;;*/
  margin-left: -17px;
  height:120px;
  bottom:0px;
}

.tik{
  width: 250px;
  font-size: 16px;
  margin-left: 10px;
}
.tik strong{
width: 250px;
margin-top: 7px;
font-size: 16px;
float:right;
margin-right: 0px;
color:#fff;
}
.msg{
  width:250px;
  margin-top:24px;
  color:#ffffff;
  font-size: 16px;
  font-weight: bold;
}
button:focus {
  outline: 0;
}

.close {
  position: absolute;
  top: 15%;
  right: 1%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  &:hover {
    color: inherit;
  }

}

.btn {
  border-radius: 5px;
  border: solid 1px #000000;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
  width: 40%;
}

.reset {
  background-color: transparent;
  border: solid 3px #ccc;
  color: #ccc;
  transition: background-color 0.5s linear 0.1s;
  &:hover {
    background-color: #ccc;
    color: white;
  }
}
.user-img{
z-index: 1;
margin: -10px;
height:50px;
width:50px;
}
.img{
height:50px;
width:50px;
}


.notifi {
width: 100%;
height: 38%;
display: block;
background-color: #000000;position: absolute;
bottom: 0%;
}
.user_push {
width: 100%;
margin-top: -130px;
float: left;
display: block;   
background-color:#eb145b;
padding-bottom: 8px
}
.close_n {
  position: relative;
float: right;
margin-top: -48px;
}
.client {
width: 59px; 
height:59px;
border-top-left-radius: 0px;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
border-bottom-left-radius: 50px;
float: left;
background-repeat:no-repeat;
background-position: center;
background-image: url(../images/client.jpg);
margin-top: 8px;
margin-left: 5px;
}
.details {
 width:70%;
float: left;
margin-top: 10px;
padding-left: 17px;	    padding-bottom: 15px;
}
.details p{
/*float:right;*/margin: 0px 0 0 0px;color:#fff;    font-size: 99%;
}
.details span{
   width: 47%;
float: left;
border: 0px solid #f00;
}
.details span p{
margin:3;    font-size: 99%;
color:#fff;    float: left;
}
.details b{
color:#fea503;
}
.comments {
color:#fff;width: 100%;float: left; border: 0px solid #baff07;
}
.comments p {
  width: 53%;
    float: left;
    font-size: 99%;
    margin: 4px 0 0 8px;
    font-weight: bold;
}
.comments h1{
color: #ffffff;
margin: 1% 2px 0 9%;
float: left;
font-weight: 600;
}

.comments .minutes {margin-top: 15px;
float: left;
font-size: 14px;}


.home {
  background-image:url(../../assets/imgs/sub_d.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  

}

p.home {padding:20px;}
.border_btm {border-bottom: 1px solid #fff;}

.scroll-content {background-color: #eb145b}

.item-md {background-color: #eb145b; color:#ffffff;}

ion-footer {bottom:-18px !important;}

.menubranding {width: 81%;
  height: 150px;
  text-align: center;
  padding-top: 21px;
  padding-left: 58px;
}